<button
  class="px-4 py-2 text-sm font-medium text-gray-700 transition-all bg-white border border-gray-300 rounded shadow-sm hover:bg-gray-50 focus:ring-slate-500 focus:outline-none focus:ring-2 focus:ring-offset-2"
  ...attributes
>
  {{yield}}
</button>