<div ...attributes>
  {{#let (hash
    id=(call @ref @name)
    set=(fn this.setEvent @set @name)
    get=(fn @get @name)
  ) as |property|}}
    {{yield (hash
      id=property.id
      label=(component
        "form/property/label"
        for=property.id
        name=@name
      )
      input=(component
        "form/property/input"
        id=property.id
        name=@name
        set=property.set
        get=property.get
        type=(or @type "text")
      )
      description=(component
        "form/property/description"
        for=property.id
      )
      name=@name
      set=property.set
      get=property.get
    )}}
  {{/let}}
</div>