<div ...attributes>
  {{#let (hash
    ref=(fn @ref @name)
    set=(fn this.setEvent @set @name)
    get=(fn @get @name)
  ) as |property|}}
    {{yield (hash
      ref=(fn @ref @name)
      label=(component
        "form/property/label"
        for=(fn @ref @name)
        name=@name
      )
      input=(component
        "form/property/input"
        ref=(fn @ref @name)
        name=@name
        set=property.set
        get=property.get
        type=(or @type "text")
      )
      description=(component
        "form/property/description"
        for=(call (fn @ref @name))
      )
      name=@name
      set=property.set
      get=property.get
    )}}
  {{/let}}
</div>